<div class="container" >
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">


            <div id="mapcontainer" class="z-depth-1-half"

                leaflet 
                [leafletOptions]="options"
                (leafletMapReady)="onMapReady($event)">>
            

            </div>

            
            <form (ngSubmit)="saveReport()" #reportForm="ngForm">
        
            <div class="form-group">


                <label>
                    Date
                    <input name="date" [(ngModel)]="eventModel.occured_date" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3">
                    <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                </label>
                
                <label>
                    Time
                    <input name="time" [(ngModel)]="eventModel.occured_date"  [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                </label>

            </div>    

            
         
    <div class="md-form form-sm">

        <input  type="text" 
                        class="form-control" 
                        id="eventname"
                        required
                        [(ngModel)]="eventModel.title" name="name"
                        #name="ngModel"
                        mdbActive
                       >

                       <div [hidden]="name.valid || name.pristine"
                       class="alert alert-danger">
                    Event name is required
                  </div>

              <label for="eventname" class="">Event</label>





    </div>
            

              <div class="md-form" style="margin-top:50px;">
                    <textarea
                        [(ngModel)]="eventModel.description"
                        mdbActive type="text" id="form76" 
                        name = "description"
                        class="md-textarea"></textarea>
                    <label for="form76">Description</label>
                </div>


              <div class="form-group">
                    <label for="name">Category</label>
                

                <!-- make this dynamic to accomodate additional categories                     -->
                <select name="category" class="form-control" [(ngModel)]="eventModel.category">
                    <option value="pest">
                        Pest
                    </option>
                    <option  value="landslide">
                        Landslide
                    </option>
                    <option  value="fire">
                        Fire
                    </option>
                </select>


              </div>
              <input type="submit" class="btn btn-primary" value="submit" mdbInputValidate [disabled]="!reportForm.form.valid">
          </form>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>

