<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-light navbar-expand-lg fixed-top white">
            
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="http://www.sarai.ph"><img src="../../assets/header_green.png" width="160px;"></a></logo>
  <logo><a class="navbar-brand" href="#"><img src="../../assets/header_green.png" width="160px;"></a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius routerLink="/">Home<span class="sr-only"></span></a>
      
        </li>
            <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Province<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Landlslides</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Pests</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#" dropdownToggle>Separated link<span class="caret"></span></a>
                    
                    </div>
                </li>    

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Events<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Landlslides</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Pests</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li>
         
            <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>Community<span class="sr-only"></span></a>
              
            </li>
            <li class="nav-item">
                    <a class="nav-link waves-light" mdbRippleRadius>About<span class="sr-only"></span></a>
                
            </li>

      </ul>
      <!-- Links -->

      <!-- Search form -->

  
      <ul class="navbar-nav">
        <li  class="nav-item" *ngIf="!auth.isLoggedIn()">
            <a style="color:rgb(33,37,41);" class="nav-link waves-light" mdbRippleRadius routerLink="/login">Sign in</a>
        </li>

        <li  class="nav-item" *ngIf="auth.isLoggedIn()">
            <a style="color:rgb(33,37,41);border-left:1px solid black;" class="nav-link waves-light" mdbRippleRadius  routerLink="/user">{{ auth.getUserDetails()?.name }}</a>
        </li>

      </ul>
      <logo><a style="padding:0px;" class="navbar-brand" href="#"><img src="../../assets/dost-pcaarrd-uplb.png" width="130px;"></a></logo>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
<div style="width:100%;height:59px;">

</div>