
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark stylish-color-dark fixed-top">
           
  <!-- Navbar brand -->
  <logo><a class="navbar-brand" href="#"><img src="../../assets/philippines.png" width="40px;"></a></logo>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
 


            <li class="nav-item dropdown" dropdown>
                    <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                    Regions<span class="caret"></span></a>
                    <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Landlslides</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Pests</a>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                        <div class="divider dropdown-divider"></div>
                        <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
                    </div>
                </li>    

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
              Events<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Landlslides</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Pests</a>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                  <div class="divider dropdown-divider"></div>
                  <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
          </li>

      </ul>
      <!-- Links -->

      <!-- Search form -->

  
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link waves-light" mdbRippleRadius>Log in<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
          