

<div class="row">

    <div class="col-md-6 dashboardCard">

        <div class="card">
                <h3 class="card-header special-color white-text">My Subscriptions</h3>
                <div class="card-body">
 
                  
                    <table class="table-sm table-hover subsTable">
                        <thead>
                            <tr>
                                <td>
                                    Event
                                </td>
                                <td>
                                    Category
                                </td>
                                <td>
                                    Occurred
                                </td>
                                <td>
                                    Link
                                </td>
                            </tr>
                        </thead>
                        <tr *ngFor="let newreport of newReports">
                            <td>
                                    {{newreport.title}} 
                            </td>
                            <td>
                                    {{newreport.category}}
                            </td>
                            <td>
                                    {{newreport.timePassed}}
                            </td>
                            <td class="iconlink">
                                    <a [routerLink]="['/user/report-details', newreport._id]"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </table>



                    <a routerLink='/user/subscriptions' class="btn btn-primary waves-light"  mdbWavesEffect>View All</a>
                </div>
            
                
            </div>
            <!--/.Panel-->

 
</div>
        <div class="col-md-6 dashboardCard">

                <div class="card">
                        <h3 class="card-header special-color white-text">My Submitted Events</h3>
                        <div class="card-body">
                            <h3>Pending Approval</h3>
                            <table class="table-sm table-hover subsTable">
                                <thead>
                                    <tr>
                                        <td>
                                            Event
                                        </td>
                                        <td>
                                            Category
                                        </td>
                                        <td>
                                            Occurred
                                        </td>
                                        <td>
                                            Link
                                        </td>
                                    </tr>
                                </thead>
                                <tr *ngFor="let pendingreport of pendingReports">
                                    <td>
                                            {{pendingreport.title}} 
                                    </td>
                                    <td>
                                            {{pendingreport.category}}
                                    </td>
                                    <td>
                                            {{pendingreport.timePassed}}
                                    </td>
                                    <td>
                                            <a [routerLink]="['/user/report-details', pendingreport._id]"> <i class="fa fa-eye" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            </table>
 
                            <a routerLink='/user/submissions' class="btn btn-primary waves-light" mdbWavesEffect>View All</a>
                        </div>
                    </div>
                    <!--/.Panel-->

         
        </div>

</div>