<div class="sidebar">
    <a routerLink='/user' >
        <div class="sidebarLink" >
                <i class="fa fa-dashboard" aria-hidden="true"></i>
                <span class="menuitem">Dashboard</span>
        </div>
    </a>

    <a routerLink='/user/report-create' >
        <div class="sidebarLink" >
                <i class="fa fa-database" aria-hidden="true"></i>   
                <span class="menuitem">Submit an Event</span>
        </div>
    </a>

    <a href="/user/submissions" >
        <div class="sidebarLink" >
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="menuitem">My Submissions</span>
        </div>
    </a>

    <a href="/user/subscriptions" >
        <div class="sidebarLink" >
                <i class="fa fa-gear" aria-hidden="true"></i>
                <span class="menuitem">My Subscriptions</span>
        </div>
    </a>
        
    <a routerLink='/' (click)="auth.logout()">
        <div class="sidebarLink" >
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="menuitem">Sign out</span>
        </div>
    </a>
        
    
</div>