/* You can add global styles to this file, and also import other style files */

.container {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100% !important;
}
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";