.detail-title{
    font-weight:800;


}

#map{
    width:70%;
    margin:auto;
    height:400px;
}



#detailsContainer{
    padding-top:20px;
}

.detailsTable{
    margin-top:20px;
    width:70%;
    margin:auto;
}